[Unit]
Description=Noah Explorer Extender Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
KillMode=process
TimeoutStartSec=10
Restart=always
RestartSec=15s
WorkingDirectory=/opt/noah/extender/current
ExecStart=/opt/noah/extender/current/extender -config=config.json

User=noah
Group=noah

[Install]
WantedBy=multi-user.target
